<div class="flex-col">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <div class="header flex-row align-center mt-10">
      <%= render "devise/shared/previous_btn" %>
      <div class="mr-auto ml-auto">
        <h2>Register</h2>
      </div>
      <div class="actions">
        <%= form.submit "Next" %>
      </div>
    </div>

    <div class="field">
      <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "w-full" %>
    </div>

    <div class="field">
      <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-full" %>
    </div>
    
    <div class="field">
      <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "w-full" %>
    </div>

    <div class="field">
    <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "w-full" %>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
  <% end %>
</div>
