<%= form_with(model: category) do |form| %>
  <div class="header flex-row align-center mt-10">
      <%= render "shared/previous_btn" %>
      <div class="mr-auto ml-auto">
        <h2>ADD A NEW CATEGORY</h2>
      </div>
      <div class="actions">
        <%= form.submit "Save" %>
      </div>
  </div>
  

  <div class="field">
    <%= form.text_field :name, autofocus: true, placeholder: "Name", required: true, class: "w-full" %>
  </div>

  <div class="field">
    <%= form.url_field :icon, placeholder: "Icon", required: true, class: "w-full" %>
  </div>
<% end %>